# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.qt
.vs
CMakeFiles
build
vcpkg_installed
*.dir/*
_CPack*
Debug
Release
x86
x64
install_manifest.txt
output.txt
qt.conf
CPack*.cmake